{% include "header.html" %}
{% include "navbar.html" %}
{% include "sidebar.html" %}
{% load static %}


<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">Dashboard</h1>
                </div>
                <!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard v1</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->


    {% comment %} Contacts Table {% endcomment %}

    <section style="padding: 50px 0px;">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <img src="{% static '../static/img/c18.png' %}" alt="Error" style="width: 100%;">
            </div>
    
            <div class="col-md-6">
              <form method="POST">
                {% csrf_token %}
                {% for i in cnt_data %}
                <div class="form-row">
                  <div class="col-md-6 mb-3">
                    <label>First name</label>
                    <input type="text" class="form-control" value="{{i.first_name}}" name="fname" required>
                  </div>
                  <div class="col-md-6 mb-3">
                    <label>Last name</label>
                    <input type="text" class="form-control" value="{{i.last_name}}" name="lname" required>
                  </div>
                </div>
                <div class="form-row">
                  <div class="col-md-4 mb-3">
                    <label>City</label>
                    <input type="text" class="form-control" value="{{i.city}}"  name="city" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label>Email</label>
                    <input type="email" class="form-control" value="{{i.email}}" name="email" required>
                  </div>
                  <div class="col-md-4 mb-3">
                    <label>Phone No.</label>
                    <input type="tel" class="form-control" value="{{i.number}}" name="number" required>
                  </div>
                </div>
                {% endfor %}
                <button class="btn btn-primary" type="submit">UPDATE</button>
              </form>
            </div>
          </div>
        </div>
      </section>
</div>

{% include "footerlink.html" %}
{% include "footer.html" %}