<!doctype html>
<html lang="en">

<head>
  {% extends "base.html" %}
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '../static/CSS/Style.css' %}">
  <link rel="icon" href="{% static '../static/img/logo.png' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static '../static/owlcarousel/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static '../static/owlcarousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static '../static/CSS/animate.css' %}">
  <link rel="stylesheet" href="{% static '../static/CSS/animate.min.css' %}">
  <title>About Us || Car-Showroom</title>
</head>

<body style="background-color:aliceblue; font-family: nunito;">







  {% block body %}


  <!-- Image -->

  <img src="{% static '../static/img/c16.jpg' %}" class="w-100">















  <!-- MID -->
  <section>
    <div class="container">
      <div class="row">
        <div class="col-md-12 mt-4">
          <h1 id="book" style="color:yellowgreen; padding-top:35px" class="text-center">About Us</h1>
          <hr class="line1">
        </div>
        <div class="col-md-6 wow slideInLeft mb-3" data-wow-duration="3s">
          <h3 class="text-center" style="color:goldenrod; padding-top:20px;">Car-Showroom Advantage</h3>
          <h6 style="text-align: justify;" class="container-fluid">India’s pre-owned car
            market is
            growing
            and
            maturing in tandem, and Car-Showroom is at the forefront of it.
            Our sole and overriding objective is to empower both the pre-owned car buyers
            and
            sellers
            through a
            methodical integration of technology and industry experience.</h6>
        </div>

        <div class="col-md-6 wow slideInRight mb-3" data-wow-duration="3s">
          <h3 class="text-center" style="color:goldenrod; padding-top:20px;">About Car-Showroom</h3>
          <h6 style="text-align: justify;" class="container-fluid">Since foraying into India’s
            pre-owned
            car
            market in 2001, Car-Showroom channel for pre-owned cars, has grown
            in both size and stature. Being among the first major organized player in the
            market,
            the
            brand
            has
            expanded
            its pan India reach via a network of over 558 outlets across 279 cities.
            Car-Showroom
            has
            now
            become
            the
            marketplace of choice for pre-owned car buyers and sellers, catering to their
            diverse
            needs
            across
            the
            country.</h6>
        </div>

        <div class="col-md-6 wow slideInLeft mb-3" data-wow-duration="4s">
          <h3 class="text-center" style="color:goldenrod; padding-top:20px;">Why Car-Showroom</h3>
          <h6 style="text-align: justify;" class="container-fluid">When you choose
            Car-Showroom,
            you
            get:
            <br>
            <ul>
              <li>High-quality & reliable pre-owned cars, digitally evaluated on 376
                checkpoints
              </li>
              <li>Fair & transparent prices on pre-owned cars from multiple brands</li>
              <li>Exemplary services & convenient processes for both the buyers & sellers
              </li>
            </ul>
          </h6>
        </div>

        <div class="col-md-6 wow slideInRight mb-3" data-wow-duration="4s">
          <h3 class="text-center" style="color:goldenrod; padding-top:20px;">Transparency at Car-Showroom
          </h3>
          <h6 style="text-align: justify;" class="container-fluid">Car-Showroom believes that
            the
            experience
            of
            buying a
            pre-owned car shouldn’t be any different from that of
            buying a new car. To offer an amazing car-buying experience to all our
            customers,
            and
            meet
            their
            needs, we
            offer a wide selection of high quality used cars for sale, along with services
            such
            as
            insurance,
            finance
            and accessories, to ensure that all your car-buying needs are catered under one
            roof.
            Car-Showroom
            is your
            one address for quality pre-owned cars in India.
          </h6>
        </div>
      </div>
    </div>
  </section>












  <!-- CARD -->

  <h1 id="book" style="color:yellowgreen; padding-top:50px;" class="text-center">OUR TEAM</h1>
  <hr class="line1">
  <div class="row row-cols-1 row-cols-md-3 container-fluid" style="padding-top: 25px;">
    <div class="col-md-3 mb-5">
      <div class="card h-100">
        <img src="{% static '../static/img/c8.png' %}" class="card-img-top imgh" alt="Error">
        <div class="card-body">
          <h5 class="card-title center" style="color: goldenrod;">OUR C.E.O</h5>
          <h6 class="center">Nilesh Pandey</h6>
          <hr class="line1">
          <p class="card-text">Meet a talented individual pursuing a diploma in Computer Science Engineering
            from Government Polytechnic Latehar - a true rising star in the world of web development.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-5">
      <div class="card h-100">
        <img src="{% static '../static/img/c6.jpg' %}" class="card-img-top imgh" alt="Error">
        <div class="card-body">
          <h5 class="card-title center" style="color: goldenrod;">OUR MANEGER</h5>
          <h6 class="center">ABC</h6>
          <hr class="line1">
          <p class="card-text">It seems like there might be a typo in your request. If you meant "manager,"
            here's a sentence: A manager plays a pivotal role, coordinating tasks, fostering teamwork, and
            guiding a team toward success through effective leadership and decision-making.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-5">
      <div class="card h-100">
        <img src="{% static '../static/img/c6.jpg' %}" class="card-img-top imgh" alt="Error">
        <div class="card-body">
          <h5 class="card-title center" style="color: goldenrod;">OUR Senior HR</h5>
          <h6 class="center">MNQ</h6>
          <hr class="line1">
          <p class="card-text">Senior HR professionals lead strategic initiatives, ensuring effective talent
            management, employee engagement, and compliance. Their expertise shapes organizational culture,
            fostering a productive and inclusive work environment.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-5">
      <div class="card h-100">
        <img src="{% static '../static/img/c6.jpg' %}" class="card-img-top imgh" alt="Error">
        <div class="card-body">
          <h5 class="card-title center" style="color: goldenrod;">OUR Delhivery Incharge</h5>
          <h6 class="center">XYZ</h6>
          <hr class="line1">
          <p class="card-text">The Delhivery incharge oversees logistics operations, ensuring timely and
            efficient delivery services. They manage teams, coordinate shipments, and optimize processes to
            meet customer satisfaction and business goals.</p>
        </div>
      </div>
    </div>
  </div>


  {% endblock body %}

</body>

</html>