<!doctype html>
<html lang="en">

<head>
  {% extends "base.html" %}
  {% load static %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static '../static/CSS/Style.css' %}">
  <link rel="icon" href="{% static '../static/img/logo.png' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
    integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="{% static '../static/owlcarousel/owl.carousel.min.css' %}">
  <link rel="stylesheet" href="{% static '../static/owlcarousel/owl.theme.default.min.css' %}">
  <link rel="stylesheet" href="{% static '../static/CSS/animate.css' %}">
  <link rel="stylesheet" href="{% static '../static/CSS/animate.min.css' %}">
  <title>Our Services || Car-Showroom</title>
</head>

<body style="background-color:aliceblue; font-family: nunito;">
  {% block body %}

  <!-- MID -->

  <section>
    <div class="container">
      <div class="row mt-4 mb-4">
        <div class="col-md-12">
          <h1 id="book" style="color:yellowgreen; padding-top:35px" class="text-center">OUR SERVICES</h1>
          <hr class="line1">
        </div>

        <div class="col-md-6 wow slideInLeft mb-3" data-wow-duration="2s">
          <h3 class="text-center mb-2 mt-2" style="color:goldenrod; padding-top:20px;">Car Washing</h3>
          <h6 style="text-align: justify;" class="container-fluid">Car washing is a routine
            maintenance task
            that helps preserve a vehicle's appearance and performance. It involves cleaning the
            exterior
            and, in some cases, the interior of the car. Car washes use various methods, from hand
            washing
            with soap and water to automated car wash machines. Regular car washing not only removes
            dirt,
            grime, and contaminants but also protects the paint and prevents rust. It enhances the
            overall
            aesthetics and ensures a safer, more enjoyable driving experience. Additionally, it
            contributes
            to environmental sustainability by minimizing pollutants entering water systems through
            runoff.
          </h6>
        </div>

        <div class="col-md-6 wow slideInRight mb-3" data-wow-duration="2s">
          <h3 class="text-center mb-2 mt-2" style="color:goldenrod; padding-top:20px;">Car Servicing</h3>
          <h6 style="text-align: justify;" class="container-fluid">Car servicing is essential for
            maintaining
            a vehicle's reliability and longevity. It includes a comprehensive checkup and
            maintenance of
            key components like the engine, brakes, suspension, and more. Servicing typically
            involves oil
            changes, filter replacements, and inspections for wear and tear. Regular servicing helps
            identify and address potential issues before they become major problems, ensuring safer
            and more
            efficient performance. It also contributes to better fuel economy and reduces emissions.
            Periodic servicing is crucial for extending a car's lifespan and preventing unexpected
            breakdowns, promoting both safety and cost-efficiency.</h6>
        </div>


        <div class="col-md-6 wow slideInLeft mb-3" data-wow-duration="3s">
          <h3 class="text-center mb-2 mt-2" style="color:goldenrod; padding-top:20px;">Making Duplicate Key
          </h3>
          <h6 style="text-align: justify;" class="container-fluid">Making duplicate car keys is a
            common
            service offered by locksmiths or automotive professionals. It involves replicating an
            existing
            key to provide a spare or replacement key for a vehicle. This service is essential for
            situations where you've lost your keys or need an extra set for convenience. Technicians
            use
            specialized equipment to precisely copy the original key's shape and programming,
            ensuring
            compatibility with the vehicle's ignition and security systems. Duplicate car keys
            provide peace
            of mind and help avoid costly lockout situations while offering a cost-effective
            solution
            compared to reprogramming or rekeying the entire vehicle.</h6>
        </div>


        <div class="col-md-6 wow slideInRight mb-3" data-wow-duration="3s">
          <h3 class="text-center mb-2 mt-2" style="color:goldenrod; padding-top:20px;">Body Colouring</h3>
          <h6 style="text-align: justify;" class="container-fluid">Car body coloring, often known as
            car
            painting, is the process of applying a protective and aesthetically pleasing layer of
            paint to a
            vehicle's exterior surface. It serves both functional and cosmetic purposes, protecting
            the
            metal from corrosion and enhancing the car's appearance. The process involves multiple
            steps,
            such as surface preparation, priming, and the application of multiple coats of paint.
            Owners may
            choose to maintain the original factory color or opt for a custom color to express their
            style.
            Regular detailing and maintenance help keep the car's color vibrant and extend its
            lifespan.
          </h6>
        </div>


        <div class="col-md-6 wow slideInLeft mb-3" data-wow-duration="4s">
          <h3 class="text-center mb-2 mt-2" style="color:goldenrod; padding-top:20px;">Document Verification
          </h3>
          <h6 style="text-align: justify;" class="container-fluid">Second-hand car document
            verification is a
            crucial step when buying a used vehicle. It involves examining the car's paperwork to
            ensure its
            legal and financial status. Key documents include the title, registration, service
            records, and
            Vehicle Identification Number (VIN) matching. A thorough review helps uncover hidden
            issues like
            liens, stolen property, or undisclosed accidents. It's essential to verify the seller's
            identity, and in some cases, hire professional services for a comprehensive inspection.
            Document
            verification ensures a transparent and hassle-free purchase, reducing the risk of
            potential
            legal and financial complications down the road.</h6>
        </div>


        <div class="col-md-6 wow slideInRight mb-3" data-wow-duration="4s">
          <h3 class="text-center mb-2 mt-2" style="color:goldenrod; padding-top:20px;">Car Delivery</h3>
          <h6 style="text-align: justify;" class="container-fluid">Car delivery to another city or
            state
            involves transporting vehicles over long distances. This service is often used when
            buying a car
            from a distant location or relocating. Several options are available, including
            professional car
            transport companies and self-driving. Professional carriers ensure safe and efficient
            delivery,
            offering enclosed or open trailers. It's crucial to prepare the car for transportation,
            remove
            personal items, and secure necessary paperwork. Timely, reliable delivery is essential,
            ensuring
            vehicles reach their destination in the same condition they left.</h6>
        </div>



        <div class="col-md-12 wow slideInUp mb-3" data-wow-duration="3s">
          <!-- Button -->
          <div class="b1 center">
            <button type="button" class="btn b5" data-toggle="modal" data-target="#exampleModal">
              Contact Us
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>

  {% endblock body %}

</body>

</html>